*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.navbar{
    box-sizing: border-box;
    display: flex;
    background: white;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    position: fixed;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0%;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    display: flex;
    flex-direction: row;    
}

ul li{
    padding: 1em;
    font-size: 2vw;
}

img{
    position: relative;
    left: 5%;
} 

.hero{
    display:flex;
    background: url(../labcar/img/taxi.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 90vh;
}

.hero-text{
    box-sizing: border-box;
    background: #f7b617;
    padding: 3%;
    display: flex;  
    flex-direction: column; 
    align-items: flex-start;
    justify-content: space-around;
    width: 40vmax;
    height: 50vmin;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    color: white;
}

p{
    font-size: 1.5vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

hr{
    flex: display;
    align-self: flex-end;
    color: white;
    border-color: white;
    width: 30%;
    size: 5px;
}

.box-line{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.registro{
    width: 30%;
    height: 10%;
    font-size: 1vw;
    border-radius: 5px;
    border: none;
}

.conductor{
    width: 40%;
    height: 10%;
    font-size: 1vw;
    border-radius: 5px;
    border: none;
}

.information{
    display: flex;
    background-color: #f7b617;
    width: 100vw;
    height: 80vh;
    align-items: center;
}

.information-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    background: #f7b617;
    border: solid white 1px;
    width: 80%;
    height: 90%;
}

.information-img{
    display:flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 80%;
}

.information-text{
    display: flex;
    width: 30%;
    height: 60%;
    flex-direction: column;
    box-sizing: border-box;
    text-align: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
}

.section-conductor{
    display: flex;
    background: url(../labcar/img/conduce.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    justify-content: flex-end;
    width: 100vw;
    height: 60vh;
}

.conductor-text{
    display: flex;
    box-sizing: border-box;
    padding: 3%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: rgb(35,35,36, 0.3);
    width: 30%;
    height: 100%;
    font-size: 1.2vw;
}

.button-conductor{
    width: 70%;
    height: 10%;
    font-size: 1.2vw;
    border-radius: 5px;
    border: none;
    background: #f7b617;
    color: white;
}

.section-tarifa{
    box-sizing: border-box;
    display: flex;
    width: 100vw;
    height: 60vh;
    background: #f7b617;
    justify-content: space-around;
    align-items: center ;
}

.tarifas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: space-between;
    width: 40%;
    height: 90%;
}

.show-map{
    box-sizing: border-box;
    padding: 5%;
    display: flex;
    width: 40%;
    height: 90%;
    border: solid white 1px;
}

.button-ruta{
    width: 50%;
    height: 10%;
    font-size: 1.2vw;
    border-radius: 2px;
    background: white;
    border: none;
    align-self: center;
}

[class^="input-"]{
    box-sizing: border-box;
    padding: 2%;
    border: solid white 1px;
    font-size: 1.5vw;
    border-radius: 10px;
    background: 0%;
    width: 80%;
    height: 10%;
}

footer{
    box-sizing: border-box;
    padding: 5%;
    background: #2b2b2b;
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.foot-column{
    box-sizing: border-box;
    flex-direction: row;
    align-content: stretch;
}

.column-one{
    box-sizing: border-box;
    flex-direction: column;
}

